<header id="layout-header">
    <nav class="navbar">
        <div id="logo">
            <a href="/">Issue Tracker</a>
        </div>

        <div>
            <button><a href="/create">Create Project</a></button>
        </div>
    </nav>
</header>