#create-form{
    border: 1px solid rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(228, 228, 228));
    color: white;
    position: relative;
    top: 4rem;
    left: 30%;
    height: 35rem;
    width: 35rem;
    font-weight: 100;
    letter-spacing: 1px;

        #main-form{
        font-size: larger;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

            input{
                width: 29.25em;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgb(255, 255, 255);
                margin: 10px;
                color: white;
            }
                input:focus {
                    outline: none;
                    font-size: medium;
                }
                textarea{
                    margin: 10px;
                    background-color: transparent;
                    border: 1px solid white;
                }
                textarea:focus {
                    outline: none;
                    color: white;
                    font-size: large;
                }

        }

        button{
            height: 4rem;
            width: 10rem;
            border: none;
            p{
                font-size: 20px;
                font-weight: lighter;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
}