#container {
    margin: 2rem;
    height: 100%;
    width: 95.5%;
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

    #items {
        color: white;
        background: linear-gradient(to left, grey, black);
        height: 7em;
        margin-bottom: 3px;

        &:hover{
            background: white;
            color: black;
            transition: all ease-out 0.5s;

            #title{
                border-bottom: 1px solid black;
            }
        }

        #title{
            display: inline-block;
            font-size: 30px;
            margin-left: 20px;
            letter-spacing: 0px;
            background-color: transparent;
        }

        #author{
            position: relative;
            top: -32px;
            left: 4.4rem;
            color: grey;
        }

        #desc{
            position: relative;
            top: -7.4em;
            left: 16rem;
            font-weight: 100;
            letter-spacing: 4px;
            width: 80%;
        }
    }
}
